include dashboard.html

//- doctype
//- html
//-   head
//-     title Terrarium Monitor
//-     script(src="/js/jquery-2.0.3.min.js")
//-     script(src="/js/interface.js")
//-     script(src="js/main.min.js")
//-     link(rel='stylesheet', href='css/main.min.css')
//-     link(rel='stylesheet', href='css/dashboard.min.css')
//-   body
//-     header
//-       div.mainContainer
//-         h1 Raspberry Pi Interface
//-         h2 Sensor Readings
//-         p Temperature: 
//-           span#temperature 0
//-           span  C
//-         p Humidity: 
//-           span#humidity 0
//-           span  %

//-         h2 Camera
//-         img#camera(src='')